.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 959px;
	min-height: 410px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 28px;
	padding-right: 1px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u74
{
	z-index: 2;
	width: 959px;
	position: relative;
}

#u74_img
{
	padding-right: 1px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

